$theme-colors:(
    "primary":#ff6d6d
);
@import "node_modules/bootstrap/scss/bootstrap";
*{
    font-family: 'Poppins';
}
//Fonts
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf')  format('truetype'), url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Khand-Regular';
  src: url('fonts/Khand-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Khand-Regular.woff') format('woff'), url('fonts/Khand-Regular.ttf')  format('truetype'), url('fonts/Khand-Regular.svg#Khand-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
// mixins
@mixin bg(){
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
//variables and general classes
$pt-10:10rem;
$pb-10:10rem;
.pt-10{
    padding-top: $pt-10;
}
.pb-10{
    padding-bottom: $pb-10;
}
header{
    background:url(img/header.png);
    @include bg();
    background-attachment: fixed;
    #try{
        color:#fff;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    h1{
        letter-spacing: .2rem;
        font-weight: lighter;
        color:#282828;
    }
    .w-50{
        margin: auto;
    }
}
section{
    h3{
        font-size: 1rem;
    }
    h2{
        color:#282828;
    }
}
.design{
    color: #8a8a8a;
    .d-flex{
        background: #ececec;
    }
}
.features{
    background-color:#f6f5f3;
    background-image: url(img/Pen-holder.png),url(img/Earphones.png),url(img/Coffee-Cup.png);
    background-position: left,right top,right bottom;
    background-repeat: no-repeat;
    h4{
        font-size: 1.5rem;
    }
    .col-4{
        font-size: .9rem;
    }
}
.partners{
    background:url(img/bg.png) repeat top;
    background-size: cover;
    color:#fff;
    img{
        height: 5rem;
    }
}
.contact{
    background:#323969;
    h2,button{
        color:#fff;
    }
}
footer{
    .nav-link{
        padding: 0.5rem 0;
        color:#282828;
    }
}
@media (max-width:1440px){
    .features{
        background-position: left top,bottom center, bottom center;
    }
}
@media (max-width:768px){
    header{
        h1{
            font-size: 2rem;
        }
    }
    .contact{
        input{
            margin-bottom:3rem;
        }
    }
    footer{
        text-align: center;
        .col-md-3{
            margin-bottom: 1.5rem;
        }
    }
}
@media (max-width:425px){
    header{
        h1{
            font-size: 1.3rem;
        }
    }
}